$player-color: #faa916;
$enemy-color: #778899;

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltip-text {
    display: none;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    white-space: nowrap;
    line-height: normal;
    font-size: 1rem;

    position: absolute;
    top: -30px;
    left: 0;
    z-index: 1;
  }

  &:hover {
    .tooltip-text {
      display: inline-block;
    }
  }
}

.player-health-container {
  border-radius: 5px;
  border: 1px solid white;
  background-color: $player-color;
  display: inline-block;
  padding: 5px;
  padding-right: 10px;
}

.player-health {
  display: flex;
  flex-direction: row;

  .player-health-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    font-weight: bold;

    .morale {
      font-size: 1.4rem;
    }

    .health-number {
      font-size: 2rem;
    }
  }
}

.card {
  $width: 200px;
  $height: 300px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $width;
  height: $height;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;

  .border {
    position: absolute;
    top: 0;
    $border-width: 5px;
    width: $width - (2 * $border-width);
    height: $height - (2 * $border-width);
    border: $border-width solid $enemy-color;
    background-color: transparent;
    z-index: -1;
    border-radius: 8px;
  }
  .card-top {
    font-size: 2em;
  }
  .card-bottom {
    .card-picture {
      width: 175px;
      height: 175px;
      border: 2px solid black;
    }
  }
}

.deck-container {
  position: relative;

  .deck-count {
    $width: 30px;
    width: $width;
    height: $width;
    position: absolute;
    top: -5px;
    left: -5px;
    display: inline-block;
    border: 1px solid black;
    border-radius: $width / 2;
    text-align: center;
    line-height: $width;
    font-weight: bold;
    background-color: white;
  }

  .deck-image {
    width: 50px;
    height: 75px;
    border: 1px solid black;
    border-radius: 5px;

    &.enemy-deck {
      background-color: $enemy-color;
    }

    &.player-deck {
      background-color: $player-color;
    }

    img {
      width: 50px;
      height: 100px;
    }

    &.discard {
      border: 1px dashed black;

      &.enemy-deck {
        background-color: lighten($enemy-color, 30%);
      }

      &.player-deck {
        background-color: lighten($player-color, 30%);
      }
    }
  }
}

.player-container,
.enemy-container {
  display: flex;
  height: 500px;
}

.enemy-container {
  border-bottom: 2px solid black;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;

  > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.player-container {
  .info-container {
    justify-content: flex-start;
  }
  .button-container {
    justify-content: flex-start;

    .strength {
      border-bottom: 2px solid black;
      border-top: 0;
      margin-top: 0;
      margin-bottom: 10px;
      background-color: $player-color;
    }
  }
  .cards-container {
    align-items: flex-start;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 100%;
  box-sizing: border-box;

  .strength {
    $width: 50px;
    border: 1px solid black;
    width: $width;
    height: $width;
    text-align: center;
    line-height: $width;
    border-bottom: 0;
    margin-top: 10px;
    color: white;
    background-color: $enemy-color;
    font-size: 3rem;
    overflow: hidden;
    border-width: 2px;

    &.smaller-text {
      font-size: 2.5rem;
    }
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;

  .card {
    margin-right: 20px;
  }
}

.player-card .border {
  border-color: $player-color;
}
