$dark-1: #3c1518;
$dark-2: #69140e;
$neutral: #a44200;
$light-2: #d58936;
$light-1: #fff94f;

body {
  font-size: 12px;
  background-color: $dark-1;
  color: $light-2;
}

.player-health-container {
  border-radius: 5px;
  border: 1px solid white;
  background-color: $light-2;
  display: inline-block;
  padding: 5px;
  padding-right: 10px;
}
.player-health {
  display: flex;
  flex-direction: row;

  .player-health-text {
    display: flex;
    color: $dark-1;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    font-weight: bold;

    .morale {
      font-size: 1.4rem;
    }

    .health-number {
      font-size: 2rem;
    }
  }
}
